/* Put your css in here */

.board-diagrams {
  clear: both;
}
.board-diagram {
  float: left;
  margin-right: 10px;
}

.hovering {
  background-color: #ddeeee;
}

.unavailable {
  background-color: #ffaaaa;
}
html {
  overflow-y: scroll;
}
